@use "./variables" as *;

footer {
  margin: 100px 0 0 0;
  padding: 40px 0;
  border-top: 1px solid $primaryColor;
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    h2 {
      font-family: $secondaryFont;
      font-size: 32px;
      font-weight: 400;
      @media (max-width: 1200px) {
        font-size: 20px;
      }
      @media (max-width: 900px) {
        margin-bottom: 40px;
      }
      @media (max-width: 620px) {
        br {
          display: none;
        }
      }
    }
    @media (max-width: 900px) {
      flex-direction: column;
    }
  }
  @media (max-width: 600px) {
    margin: 58% 0 0 0;
  }
}

.connect-nav {
  h4 {
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
  }
  .connect-ul {
    li {
      margin-bottom: 5px;
      font-weight: 600;
      letter-spacing: 0.5px;
      a {
        transition: color 0.35s;
        &:hover,
        &:focus {
          color: $tertiaryColor;
        }
      }
    }
  }
}
