@use "./variables" as *;

header.title-header {
  padding: 20px 0;
  margin-bottom: 40px;
  background: $secondaryColor;
  z-index: 10;
  .title-contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    h1,
    h2,
    h3 {
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.5px;
    }
    h2 {
      margin-top: 5px;
      &::after {
        content: "|";
        animation: blink 1s infinite;
      }
    }
    a {
      font-weight: 600;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      transition: color 0.3s;
      &:hover,
      &:focus {
        color: $tertiaryColor;
      }
    }
  }
  @media (max-width: 600px) {
    padding: 20px 0 0 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
