@use "./variables" as *;

.projects-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 2% 1%;
  width: 100%;
  height: 100%;
  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 1%; // Adjust horizontal gap to maintain consistency
  }
  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 1% 2%; // Since fewer columns, increase horizontal gap slightly
  }
  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 1% 0%; // No horizontal gap needed for a single column
  }
}

.projects-container li {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  padding-bottom: 100%;
  transition: bottom 0.35s, opacity 0.35s;
  bottom: 0px;
  opacity: 1;
  a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
    }
    .title-description-container {
      position: absolute;
      bottom: 20px;
      left: 20px;
      h4 {
        text-transform: uppercase;
        letter-spacing: 0.5px;
      }
      h5 {
        font-family: $secondaryFont;
      }
    }
  }
  @media (min-width: 900px) {
    &:hover,
    &:focus {
      opacity: 0.7;
      bottom: 10px;
    }
  }
}

.verbeeks {
  background-color: #dbeba3;
}

.receiptify {
  background-color: #afecb2;
}

.goodthingsgolf {
  background-color: #ecc2f1;
}

.notes {
  background-color: #afe8ec;
}

.gitcheck {
  background-color: #c4cbca;
}

.zen {
  background-color: #ead6ac;
}

.fuel {
  background-color: #e7b6b6;
}

.decemburrr {
  background-color: #b6bae7;
}
